body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 8pt;
}

.center {
  display: block;
  margin: auto;
  padding: 1em 0;
}

.form-check {
  font-size: x-large;
  font-weight: bolder;
}

.input-checkbox {
  width: 20px;
  height: 20px;
}

label {
  padding-right: 1em;
}

fieldset {
  padding-bottom: .5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  display: none;
}

.info {
  color:green;
}

.lower {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.bi-check-square-fill {
  color: green;
  margin-left: 0.5em;
}

.active .bi-check-square-fill {
  color:#11D34F;
}

.input-checkbox {
  margin-left: 0.5em;
}

.item-list {
  margin-left: 2em;
}

.sub-item-list {
  margin-left: 2em;
}

.name-item-list {
  font-weight: 500;
}
.name-item-list::after {
  content: "•";
  padding:0 5px;
}

.name-element {
  color: #5659B4;
}

img {
  max-width: 100%;
}